.captcha-container {
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .captcha-image {
    margin-bottom: 10px;
    font-size: 20px;
    
  }
  .captcha-input-container {
    display: flex;
    align-items: center;

  }
  .cap-button{
    padding: 5px;
    background-color: rgb(27, 192, 27);
    border-radius:5px ;
    border: green;
    color: white;
    margin-top: 5px;
  }